[Unit]
Description = {{ site }}
After = network.target


[Service]
Environment=PYTHONPATH="${PYTHONPATH}:/opt/site/app"
PIDFile = /run/{{ site }}.pid
User = root
Group = root
WorkingDirectory = /opt/site/app
ExecStart = /usr/local/bin/gunicorn application:app -b 0.0.0.0:{{ siteport }} --pid /run/{{ site }}.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true

[Install]
WantedBy = multi-user.target
